build/*
.settings/*
.project
.cproject
doxy/html/*
*.orig
python_wrapper/*.so
python_wrapper/*cpp
python_wrapper/*.h
python_wrapper/build/*
python_wrapper/*.pvtu
python_wrapper/*.vtu
python_wrapper/*.log
