build/*
.settings/*
.project
.cproject
doxy/*
*.orig
python_wrapper/*.so
python_wrapper/*cpp
python_wrapper/*.h
python_wrapper/build/*
python_wrapper/*.pvtu
python_wrapper/*.vt?
python_wrapper/*.log
python_wrapper/multiple_grids/*.log
python_wrapper/multiple_grids/*.pvtu
python_wrapper/multiple_grids/*.vt?
python_wrapper/multiple_grids/*.pyc
opt_base/build/*
opt_IO/build/*
python_wrapper/opt_IO_impl/build/*
python_wrapper/opt_IO_impl/*.so
python_wrapper/opt_IO_impl/*.cpp
python_wrapper/opt_IO_impl/*.h
python_wrapper/multiple_grids/*.dat
python_wrapper/multiple_grids/*.txt
python_wrapper/multiple_grids/*.gp
python_wrapper/multiple_grids/*.swp
python_wrapper/multiple_grids/block_matrices/doc/*
python_wrapper/multiple_grids/block_matrices/log/*
python_wrapper/multiple_grids/block_matrices/project/*.swp
python_wrapper/multiple_grids/block_matrices/project/*.pyc
python_wrapper/multiple_grids/block_matrices/test/*.swp
